In [4]:
import pandas as pd

lancets = pd.read_parquet('../../../../randy/rfb/tidy_data/UKBiobank/dementia/lancet2024/lancet2024_preprocessed.parquet', engine = 'fastparquet')

In [11]:
# ['RID', 'GDTOTAL', 'MH14BALCH', 'MH16BSMOK', 'AGE', 'PTGENDER',
#        'PTEDUCAT', 'HMHYPERT', 'DXAD', 'CLINICAL_LDL_C', 'bmi', 'apoe_2/2',
#        'apoe_2/3', 'apoe_2/4', 'apoe_3/3', 'apoe_3/4', 'apoe_4/4']

columns = ['eid', 'depression', 'alcohol_consumption', '20161-0.0', 'hypertension', '30780-0.0']
lancets = lancets[columns]

In [24]:
covs = pd.read_parquet('doubleML_covariates.parquet', engine = 'fastparquet')
covs

,IID,30710-0.0,31-0.0,curr_age,e3/e3,e2/e3,e3/e4,e2/e4,e4/e4,e2/e2,mdi,groups,depression,6138-0.0,education_years,education,21000-0.0,race,bmi
0,1000019,5.650000,0.0,66.0,1,0,0,0,0,0,4.11,0,0,1.0,NaN,1.0,1001.0,White,26.2500
1,1000022,5.120000,1.0,66.0,0,0,1,0,0,0,12.91,0,0,3.0,15.0,3.0,1001.0,White,28.7681
2,1000035,2.591507,1.0,74.0,1,0,0,0,0,0,7.79,0,0,5.0,15.0,5.0,1001.0,White,31.2963
3,1000046,1.390000,1.0,54.0,0,0,0,1,0,0,25.37,0,0,1.0,NaN,1.0,1001.0,White,27.0842
4,1000054,1.280000,0.0,71.0,0,0,1,0,0,0,34.96,0,0,-7.0,17.0,-7.0,1001.0,White,35.8397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481978,6025202,3.080000,1.0,66.0,1,0,0,0,0,0,25.17,0,0,1.0,NaN,1.0,1001.0,White,26.5909
481979,6025216,0.590000,1.0,74.0,0,0,0,1,0,0,25.53,0,0,3.0,16.0,3.0,1001.0,White,25.8286
481980,6025227,0.360000,1.0,61.0,0,0,1,0,0,0,22.50,0,0,6.0,16.0,6.0,1001.0,White,28.9546
481981,6025230,2.591507,1.0,57.0,1,0,0,0,0,0,21.68,0,0,1.0,NaN,1.0,1001.0,White,24.2769
481982,6025249,5.460000,1.0,72.0,1,0,0,0,0,0,28.86,0,0,4.0,15.0,4.0,1001.0,White,25.9918

In [25]:
covs = covs[['IID', '31-0.0', 'curr_age', 'e3/e3', 'e2/e3', 'e3/e4', 'e2/e4', 'e4/e4', 'e2/e2', 'education_years', 'bmi', 'groups']]

In [26]:
df = lancets.merge(covs, left_on = 'eid', right_on = 'IID', how = 'inner')

In [28]:
df = df.drop(columns='IID')

In [33]:
df['20161-0.0'] = df['20161-0.0'].fillna(0)
df.dropna(subset = ['education_years', '30780-0.0', 'bmi'], inplace=True)

In [35]:
df.to_parquet('validation_data.parquet', index = False, engine = 'fastparquet')